@model IEnumerable<TorneioValoran.ViewModel.ListMatchViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamWinner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamWinner)
                </td>
            </tr>
        }
    </tbody>
</table>
